{% extends 'bases/base.html.twig' %}

{% block title %}
    {% if query|length == 0 %}
        {{ 'search'|trans|u.title }}
    {% else %}
        {{ query }}
    {% endif %}
{% endblock %}

{% block body %}

<div class="display-5">
    {{ 'result_bu_query'|trans|u.title }}: "{{ query }}" ({{ count }})
</div>

<form action="{{ path('review_search') }}" class="my-2">
    <div class="input-group">
        <input type="search" value="{{ query }}" placeholder="{{ 'search'|trans|u.title }}..."
            class="form-control" name="q">
        <button class="btn btn-primary">
            <i class="bi bi-search" style="font-size: 1rem"></i>
        </button>
    </div>
</form>

<div class="scrolling-block" data-scrolling-type="review_search" data-scrolling-param="{{query}}"></div>

{% endblock %}