{% extends 'bases/reviewsBase.html.twig' %}

{% block title %}#{{ tagName }}{% endblock %}

{% block scrollingBlock %}
    <div class="display-5">
        {{ 'reviews_with'|trans|u.title }} #{{ tagName }}
    </div>
    <div class="scrolling-block" data-scrolling-type="reviews_by_tag" data-scrolling-param="tag-{{ tagName }}" data-scrolling-last-id="{{ lastId }}"></div>
{% endblock %}
