{% set userTheme = app.request.attributes.get('theme') %}
{% set themes = app.request.attributes.get('themes') %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Recommendations{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags(userTheme ~ 'Theme') }}
{#            <link rel="stylesheet" href="/css/themes/{{ tm.theme }}.css">#}
{#            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css">#}
{#            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">#}
{#            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css">#}
{#            <link rel="stylesheet" href="/css/style.css">#}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{#            <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js"></script>#}
{#            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>#}
{#            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/themes/bs5/theme.js"></script>#}
{#            <script src="/js/fileinput/ru.js"></script>#}
{#            <script src="/js/script.js"></script>#}
        {% endblock %}
    </head>
    <body>
        <header class="bg-light mb-2 px-2 sticky-top">
            <nav class="navbar navbar-{{ userTheme }} navbar-expand-lg">
                <div class="container-fluid">
                    <a href="{{ path('reviews') }}" class="navbar-brand p-0 me-2">Recommendations</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
                        aria-controlls="navbar-menu" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbar-menu">
                        <ul class="navbar-nav ms-auto">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('apanel') }}" class="nav-link">
                                    {{ 'apanel'|trans|u.title }}
                                </a>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.request.locale|locale_name(app.request.locale)|slice(0, 2)|u.title }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right my-2" aria-labelledby="dropdown-language">
                                    <a class="dropdown-item" href="{{ path('reviews', {_locale: 'en'}) }}">English</a>
                                    <a class="dropdown-item" href="{{ path('reviews', {_locale: 'ru'}) }}">Русский</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-theme" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ userTheme|trans|u.title }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right my-2" aria-labelledby="dropdown-theme">
                                    {% for theme in themes %}
                                        <a href="{{ path('settings_theme', {'themeName': theme}) }}" class="dropdown-item">
                                            {{ theme|trans|u.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </li>
                            <li class="nav-item">
                                <form action="{{ path('review_search') }}">
                                    <input type="search" name="q" placeholder="{{ 'search'|trans|u.title }}..."
                                        class="form-control">
                                </form>
                            </li>
                            {% if(is_granted('ROLE_USER')) %}
                                <li class="nav-item">
                                    <a href="{{ path('user_page', {'id': app.user.id}) }}" class="nav-link">
                                        {{ app.user }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_logout') }}" class="nav-link">
                                        {{ 'logout'|trans|u.title }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ path('app_login') }}" class="nav-link">
                                        {{ 'auth'|trans|u.title }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_register') }}" class="nav-link">
                                        {{ 'registration'|trans|u.title }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-lg">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
