{% extends 'bases/base.html.twig' %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block body %}
    <div class="display-4 text-center">
        {{ user.nickname }}
    </div>
    <div class="container border border-2 p-2 bg-light my-2 rounded-2">
        <p>{{ 'count_reviews'|trans|u.title }}: {{ user.reviews.count }}</p>
        <p class="mb-0">{{ 'count_likes'|trans|u.title }}: {{ user.likesCount }}</p>
    </div>
    <div class="display-5 text-center">
        {{ 'reviews'|trans|u.title }}
    </div>
    <div class="container">
        {% if app.user == user %}    
            <a href="{{ path('review_create') }}"
                class="btn rounded-pill btn-success text-white mb-1">
                {{ 'review_edit'|trans }}
            </a>
        {% elseif is_granted('ROLE_ADMIN') %}
            <a href="{{ path('review_create') }}"
                class="btn rounded-pill btn-success text-white mb-1">
                {{ 'review_edit'|trans }} ({{ user.nickname }})
            </a>
        {% endif %}
    </div>
    <div class="container">
        {% for type in sortedTypes %}
            <a href="{{ path('user_page', { 'id': user.id, 'type': type } ) }}" 
                class="btn rounded-pill text-white mb-1
                    {{ (type == sortType) ? 'btn-primary' : 'btn-secondary' }}">
                {{ 'sort_by'|trans }} {{ type | trans }}
            </a>
        {% endfor %}
    </div>
    <div class="scrolling-block" data-scrolling-type="reviews_by_user" data-scrolling-param="{{ user.id }},{{ sortType }}" data-scrolling-last-id="{{ lastId }}"></div>
{% endblock %}